---
import '../styles/welcome.css';
---

<div class="welcome-container">
	<span>w</span>
	<span>e</span>
	<span>l</span>
	<span>c</span>
	<span>o</span>
	<span>m</span>
	<span>e</span>
</div>

<script>
  import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

  const spans = document.querySelectorAll("span");

	const tl = gsap.timeline({
		scrollTrigger: {
			trigger: '.welcome-container',
			start: 'top center',
			end: 'center center',
			scrub: true,
		}
	});

	spans.forEach((span, index) => {
		tl.from(span, {
			opacity: 0,
			y: -50,
			duration: 0.5,
			delay: index * 0.1,
			ease: "power2.out",
		});
	});
</script>